.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 500;
  background: var(--color-border);
  color: var(--color-text);
}

.info {
  border: 1px solid var(--color-neptune);
  background: var(--color-neptune);
  color: var(--white);
}

.success {
  border: 1px solid var(--green-goblin);
  background: var(--green-goblin);
  color: var(--white);
}

.warning {
  border: 1px solid var(--color-titan);
  background: var(--color-titan);
  color: var(--white);
}

.error {
  border: 1px solid var(--color-error);
  background: var(--color-error);
  color: var(--white);
}